.restaurants_squares--animation, .restaurants_container--animation {
  font-size: 1.5rem;
  margin-top: 20px;
}
.restaurants_squares--animation-1, .restaurants_container--animation-1 {
  margin-left: 11rem;
}
.restaurants_squares--animation-2, .restaurants_container--animation-2 {
  margin-left: 11rem;
  font-size: 3.5rem;
  margin-top: 6rem;
}
.restaurants_squares--animation-3, .restaurants_container--animation-3 {
  margin-left: 11rem;
  font-size: 3.5rem;
  margin-top: 6rem;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--animation, .restaurants_container--animation {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .restaurants_squares--animation-1, .restaurants_container--animation-1 {
    margin-left: 28rem;
  }
  .restaurants_squares--animation-2, .restaurants_container--animation-2 {
    margin-left: 7rem;
    margin-top: 6rem;
    font-size: 4.5rem;
    width: 80px;
    height: 75px;
  }
  .restaurants_squares--animation-3, .restaurants_container--animation-3 {
    margin-left: 16rem;
    margin-top: 6rem;
    font-size: 4.5rem;
    width: 80px;
    height: 75px;
  }
}
.restaurants_squares--animation-heart, .restaurants_container--animation-heart {
  position: absolute;
  font-weight: 600;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  width: 25px;
}
.restaurants_squares--animation-heart-2, .restaurants_container--animation-heart-2 {
  width: 56px;
  top: 98px;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--animation-heart, .restaurants_container--animation-heart {
    width: 25px;
  }
}
.restaurants_squares--animation-heart:hover, .restaurants_container--animation-heart:hover {
  opacity: 1;
  transition: opacity 0.5s;
  font-size: 1.6rem;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--animation-heart-2, .restaurants_container--animation-heart-2 {
    width: 80px;
  }
}
.restaurants_squares--animation-heartfill, .restaurants_container--animation-heartfill {
  cursor: pointer;
  position: relative;
  top: -2px;
  background-color: white;
  transition: 1s;
}
.restaurants_squares--animation-heartfill:focus, .restaurants_squares--animation-heartfill:hover, .restaurants_container--animation-heartfill:focus, .restaurants_container--animation-heartfill:hover {
  opacity: 0;
  transition: opacity 0.5s;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--animation-heartfill, .restaurants_container--animation-heartfill {
    width: 25px;
    height: 25px;
  }
  .restaurants_squares--animation-heartfill-1, .restaurants_container--animation-heartfill-1 {
    width: 80px;
  }
}
.restaurants_squares--animation-heartfill-1, .restaurants_container--animation-heartfill-1 {
  background-color: #F6F6F6;
}
.restaurants_squares--animation [id^=heart], .restaurants_container--animation [id^=heart] {
  display: none;
}
.restaurants_squares--animation [id^=heart]:checked > .restaurants_squares--animation-heart, .restaurants_container--animation [id^=heart]:checked > .restaurants_squares--animation-heart {
  opacity: 1;
}
.restaurants_squares--animation [id^=heart]:checked ~ .restaurants_squares--animation-heartfill, .restaurants_container--animation [id^=heart]:checked ~ .restaurants_squares--animation-heartfill {
  opacity: 0;
}

/*# sourceMappingURL=heart.css.map */
