header i {
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
@media all and (max-width: 1024px) {
  header i {
    font-size: 3rem;
  }
}
header .logo_ohmyfood {
  text-align: center;
  margin-top: -5rem;
  margin-bottom: 2rem;
}
@media all and (max-width: 1024px) {
  header .logo_ohmyfood {
    margin-top: -6rem;
  }
}

.image_restaurant {
  width: -webkit-fill-available;
}

.image_restaurant--2 {
  width: -webkit-fill-available;
  height: 40rem;
  object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
  position: relative;
  margin-top: -3rem;
}
@media all and (max-width: 1024px) {
  .menu {
    border-radius: 115px 115px 0px 0px;
    margin-top: -7rem;
  }
}
.menu_header {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .menu_header {
    justify-content: flex-start;
    margin-left: 5rem;
    font-size: 2rem;
  }
}
.menu_header h1 {
  font-family: "Shrikhand", cursive;
  margin-top: 6rem;
  font-size: 3rem;
}
@media all and (max-width: 1024px) {
  .menu_header h1 {
    font-size: 4rem;
  }
}
.menu_header--heart {
  margin-left: 6.5rem;
  font-size: 3rem;
  margin-top: 6.8rem;
}
.menu_header--heart:hover, .menu_header--heart:active {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
@media all and (max-width: 1024px) {
  .menu_header--heart {
    margin-left: 8.5rem;
    font-size: 4rem;
    margin-top: 6.5rem;
  }
}
.menu_header--heart_1 {
  margin-left: 6.5rem;
  font-size: 3rem;
  margin-top: 6.8rem;
}
.menu_header--heart_1:hover, .menu_header--heart_1:active {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
@media all and (max-width: 1024px) {
  .menu_header--heart_1 {
    margin-left: 15.5rem;
    font-size: 4rem;
    margin-top: 6.5rem;
  }
}
.menu_card {
  display: grid;
  justify-content: center;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 575px);
  text-align: initial;
}
@media all and (max-width: 1024px) {
  .menu_card {
    grid-template-columns: repeat(1, 925px);
    margin-top: 2rem;
  }
}
.menu_card--platename {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
@media all and (max-width: 1024px) {
  .menu_card--platename {
    font-size: 2.5rem;
  }
}
.menu_card--flex {
  display: flex;
  justify-content: space-between;
  font-size: 1.256rem;
  margin-top: 0.5rem;
}
@media all and (max-width: 1024px) {
  .menu_card--flex {
    font-size: 2.29rem;
  }
}
.menu_card--flex li:last-child {
  margin-left: 7rem;
  font-weight: bold;
}
.menu h2 {
  border-bottom: 3px solid #99E2D0;
  width: fit-content;
  font-weight: 300;
  margin-left: 1rem;
}
@media all and (max-width: 1024px) {
  .menu h2 {
    font-size: 2.5rem;
  }
}
.menu ul {
  list-style-type: none;
  padding: 35px 25px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 15px 15px #dbdbdb;
  margin: 35px 0px;
  height: 3rem;
}
@media all and (max-width: 1024px) {
  .menu ul {
    padding: 50px 30px;
    border-radius: 45px;
    height: 5rem;
  }
}
.menu button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  height: 4.5rem;
  padding: 0px 60px;
  box-shadow: 0px 15px 25px #DBDBDB;
  margin-top: 4rem;
  margin-bottom: 7rem;
}
.menu button:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 0px 15px 5px #DBDBDB;
}
@media all and (max-width: 1024px) {
  .menu button {
    border-radius: 70px;
    font-size: 2.5rem;
    height: 7rem;
    padding: 0px 100px;
    margin-top: 80px;
    margin-bottom: 160px;
  }
}

/*# sourceMappingURL=menu-1.css.map */
