header .logo_ohmyfood-homepage {
  text-align: center;
  margin-bottom: 2rem;
}
header img {
  width: 20rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media all and (max-width: 1024px) {
  header img {
    width: 27rem;
    margin-left: 0rem;
  }
}

.localisation {
  display: flex;
  font-size: 2rem;
  margin-left: 2rem;
}
.localisation_icon {
  margin-top: 2rem;
}
@media all and (max-width: 1024px) {
  .localisation_icon {
    margin-top: 3rem;
  }
}
.localisation_text {
  margin-left: 2rem;
}
@media all and (max-width: 1024px) {
  .localisation {
    justify-content: center;
    margin-left: 0rem;
    background-color: #EAEAEA;
    font-size: 3rem;
  }
}

.explore {
  text-align: center;
  background-color: #F6F6F6;
  height: auto;
  padding: 3rem;
}
@media all and (max-width: 1024px) {
  .explore {
    padding: 6rem 3rem;
  }
}
.explore_text h1 {
  font-size: 2.5rem;
  margin: 0px;
}
@media all and (max-width: 1024px) {
  .explore_text h1 {
    font-size: 4rem;
  }
}
.explore_text p {
  font-size: 2rem;
}
.explore_button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  height: 5rem;
  padding: 0px 35px;
  box-shadow: 2px 2px 5px grey;
}
@media all and (max-width: 1024px) {
  .explore_button {
    border-radius: 70px;
    font-size: 3rem;
    height: 9rem;
    padding: 0px 70px;
    margin-top: 2rem;
  }
}

.function {
  padding: 3rem 0rem;
}
.function h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
@media all and (max-width: 1024px) {
  .function h2 {
    font-size: 4rem;
    text-align: left;
    margin-left: 3rem;
  }
}
.function ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 520px);
  grid-gap: 5rem;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .function ul {
    grid-template-columns: repeat(1, 850px);
    padding: 0px;
  }
}
.function_buttons {
  display: flex;
  font-size: 2rem;
  border: 1px solid #F6F6F6;
  box-shadow: 2px 2px 5px grey;
  background-color: #F6F6F6;
  border-radius: 30px;
  margin-left: 2rem;
}
@media all and (max-width: 1024px) {
  .function_buttons {
    font-size: 3rem;
    margin-left: 0px;
  }
}
.function_numbers {
  border: 1px solid #9356DC;
  border-radius: 40px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  width: 37px;
  margin-left: -1.5rem;
}
@media all and (max-width: 1024px) {
  .function_numbers {
    width: 60px;
  }
}
.function_icon {
  padding: 2rem 3rem;
  color: grey;
}
@media all and (max-width: 1024px) {
  .function_icon {
    padding: 3.5rem 3rem;
  }
}

.restaurants {
  background-color: #F6F6F6;
  height: auto;
  padding-top: 2rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.restaurants h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
@media all and (max-width: 1024px) {
  .restaurants h2 {
    font-size: 3rem;
    text-align: left;
    margin-left: 3rem;
  }
}
.restaurants ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.restaurants_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 11.5rem;
  margin-left: 5rem;
}
@media all and (max-width: 1024px) {
  .restaurants_grid {
    grid-template-columns: repeat(1, 875px);
    grid-gap: 2.5rem;
    margin-left: 0px;
    justify-content: center;
  }
}
.restaurants_squares {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
  height: 200px;
}
@media all and (max-width: 1024px) {
  .restaurants_squares {
    width: 875px;
    height: 610px;
  }
}
.restaurants_squares--images {
  width: 300px;
  height: 135px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--images {
    width: 875px;
    height: 455px;
  }
}
.restaurants_squares--flex {
  display: flex;
}
.restaurants_squares--names {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--names {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}
.restaurants_squares--places {
  margin-left: 1rem;
  margin-top: -1rem;
  font-size: 1.2rem;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--places {
    margin-left: 2rem;
    margin-top: -0.5rem;
    font-size: 2.5rem;
  }
}
.restaurants_squares--heart {
  margin-left: 15rem;
  font-size: 1.5rem;
  margin-top: -25px;
}
@media all and (max-width: 1024px) {
  .restaurants_squares--heart {
    margin-left: 25rem;
    margin-top: 20px;
    font-size: 3.5rem;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding: 4rem 0rem;
}
footer h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
  font-family: "Shrikhand";
}
@media all and (max-width: 1024px) {
  footer h2 {
    font-size: 3rem;
    margin-left: 3rem;
    text-align: left;
  }
}
footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px);
  grid-gap: 2rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}
@media all and (max-width: 1024px) {
  footer ul {
    grid-template-columns: repeat(1, 560px);
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}
footer ul i {
  margin-right: 2.5rem;
  font-size: 0.8rem;
}

header i {
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
header .logo_ohmyfood {
  text-align: center;
  margin-top: -6rem;
  margin-bottom: 2rem;
}

.image_restaurant {
  width: -webkit-fill-available;
}

.image_restaurant--2 {
  width: -webkit-fill-available;
  height: 40rem;
  object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
  position: relative;
  margin-top: -3rem;
}
@media all and (max-width: 1024px) {
  .menu {
    border-radius: 115px 115px 0px 0px;
    margin-top: -7rem;
  }
}
.menu_header {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .menu_header {
    justify-content: flex-start;
    margin-left: 5rem;
    font-size: 2rem;
  }
}
.menu_header h1 {
  font-family: "Shrikhand", cursive;
}
.menu_header--heart {
  margin-left: 6.5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
@media all and (max-width: 1024px) {
  .menu_header--heart {
    margin-left: 8.5rem;
    font-size: 4rem;
    margin-top: 3.5rem;
  }
}
.menu_header--heart_1 {
  margin-left: 6.5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
@media all and (max-width: 1024px) {
  .menu_header--heart_1 {
    margin-left: 15.5rem;
    font-size: 4rem;
    margin-top: 3.5rem;
  }
}
.menu_card {
  display: grid;
  justify-content: center;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 461px);
  text-align: initial;
}
@media all and (max-width: 1024px) {
  .menu_card {
    grid-template-columns: repeat(1, 900px);
  }
}
.menu_card--flex {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1024px) {
  .menu_card--flex {
    font-size: 2rem;
  }
}
.menu_card--flex li:last-child {
  margin-left: 7rem;
}
.menu h2 {
  border-bottom: 3px solid #99E2D0;
  width: fit-content;
}
.menu ul {
  list-style-type: none;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
}
@media all and (max-width: 1024px) {
  .menu ul {
    padding: 30px;
    border-radius: 35px;
  }
}
.menu button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  height: 4.5rem;
  padding: 0px 35px;
  box-shadow: 2px 2px 5px grey;
  margin: 3rem 0rem;
}
@media all and (max-width: 1024px) {
  .menu button {
    border-radius: 70px;
    font-size: 2.5rem;
    height: 7rem;
    padding: 0px 100px;
    margin: 80px 0px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
