@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
}

header img {
  width: 20rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.localisation {
  display: flex;
  font-size: 2rem;
  margin-left: 2rem;
}
.localisation_icon {
  margin-top: 2rem;
}
.localisation_text {
  margin-left: 2rem;
}

.explore {
  text-align: center;
  background-color: #F2F2F2;
  height: 20rem;
  padding-top: 2rem;
}
.explore_text h1 {
  font-size: 2.5rem;
}
.explore_text p {
  font-size: 2rem;
}
.explore_button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  height: 5rem;
  padding: 0px 35px;
  box-shadow: 2px 2px 5px grey;
}

.function {
  padding: 3rem 0rem;
}
.function h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
.function ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 520px);
  grid-gap: 5rem;
  justify-content: center;
}
.function_buttons {
  display: flex;
  font-size: 2rem;
  border: 1px solid #F2F2F2;
  box-shadow: 2px 2px 5px grey;
  background-color: #F2F2F2;
  border-radius: 30px;
  margin-left: 2rem;
}
.function_numbers {
  border: 1px solid #9356DC;
  border-radius: 40px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  width: 37px;
  margin-left: -1.5rem;
}
.function_icon {
  padding: 2rem 3rem;
  color: grey;
}

.restaurants {
  background-color: #F2F2F2;
  height: 25rem;
  padding-top: 2rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.restaurants h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
.restaurants ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.restaurants_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 11.5rem;
  margin-left: 5rem;
}
.restaurants_squares {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
  height: 200px;
}
.restaurants_squares--images {
  width: 300px;
  height: 135px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurants_squares--flex {
  display: flex;
}
.restaurants_squares--names {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
.restaurants_squares--places {
  margin-left: 1rem;
  margin-top: -1rem;
  font-size: 1.2rem;
}
.restaurants_squares--heart {
  margin-left: 15rem;
  font-size: 1.5rem;
  margin-top: -25px;
}

footer {
  background-color: grey;
  color: white;
  padding: 2rem 0rem;
}
footer h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
  font-family: "Shrikhand";
}
footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 9rem;
  margin-left: 7rem;
  font-size: 2rem;
  margin-top: 3rem;
}
footer .footer_icon p {
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
