$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quadra:#F6F6F6;
$color-quinta:#EAEAEA;
$color-sexta:#353535;
$shadow-color: #DBDBDB;
$function-activecolor: #F5EDFF;
$validation-box-active: #00ac81;
