footer {
    background-color: grey;
    color: white;
    padding: 2rem 0rem;
    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0px;
        font-family: "Shrikhand";
    }
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 390px);
        grid-gap: 2rem;
        margin-left: 7rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        i {
            margin-right: 1.5rem;
        }
    }
    .footer_icon {
        p {
            margin-left: 1rem;
        }
    }
}