@import "colors.scss";

.function {
    padding: 2rem 0rem;
    @media all and (min-width: 1024px) {
        padding: 7rem 0rem;
        }
    h2 {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 3rem;
        @media all and (max-width: 1024px) {
            font-size: 1.7rem;
            text-align: left;
            margin-left: 1rem;
            padding-bottom: 1rem;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        padding: 0px;
        @media all and (max-width: 1024px) {
            flex-direction: column;
            padding: 0 20px;
        }
        @media all and (min-width: 1024px) {
            margin-left: -85px;
        }
    }
    &_buttons {
        display: flex;
        font-size: 2rem;
        box-shadow: 10px 15px 60px $shadow-color;
        background-color: $color-quadra;
        border-radius: 50px;
        margin-left: 2rem;
        height: 7rem;
        cursor: pointer;
        transition: 1s;
        align-items: center;
        margin-left: 80px;
        @media all and (max-width: 1024px) {
            font-size: 1.2rem;
            margin-left: 0px;
            height: 4rem;
            margin-top: 1rem;
        }
        &:hover,
        &:active {
            background-color: $function-activecolor;
            box-shadow: 10px 15px 20px $shadow-color;
            transition: 1s;
        }
        &:hover .function_icon,
        &:active .function_icon {
            color: $color-primary;
            transition: 1s;
        }
    }
    &_numbers {
        border: 1px solid $color-primary;
        border-radius: 40px;
        color: white;
        background-color: $color-primary;
        text-align: center;
        width: 40px;
        height: 35px;
        margin-left: -0.5rem;
        font-size: 1.5rem;
        align-items: center;
        padding-top: 5px;
        position: absolute;
        @media all and (max-width: 1024px) {
            width: 20px;
            height: 20px;
            font-size: 1rem;
            padding: 0px;
        }
    }
    &_icon {
        padding: 0.7rem 3rem;
        color: grey;
        @media all and (max-width: 1024px) {
            padding: 0.8rem 2rem;
        }
    }
    &_names {
        font-weight: bold;
        padding-right: 50px;
        @media all and (max-width: 1024px) {
            padding-right: 0px;
        }
    }
}
