@import "colors.scss";

.restaurants {
    &_squares,
    &_container {
        &--animation {
            margin-left: 9rem;
            font-size: 1.5rem;
            margin-top: 20px;
            &-1 {
                margin-left: 11rem;
            }
            &-2 {
                margin-left: 11rem;
                font-size: 3.5rem;
                margin-top: 6rem;
            }
            &-3 {
                margin-left: 11rem;
                font-size: 3.5rem;
                margin-top: 6rem;
            }
            @media all and (max-width: 1024px) {
                margin-left: 22rem;
                margin-top: 20px;
                font-size: 3.5rem;
                &-1 {
                    margin-left: 28rem;
                }
                &-2 {
                    margin-left: 7rem;
                    margin-top: 6rem;
                    font-size: 4.5rem;
                    width: 80px;
                    height: 75px;
                }
                &-3 {
                    margin-left: 16rem;
                    margin-top: 6rem;
                    font-size: 4.5rem;
                    width: 80px;
                    height: 75px;
                }
            }
            &-heart {
                position: absolute;
                font-weight: 600;
                background: -webkit-linear-gradient($color-secondary, $color-primary);
                color: transparent;
                -webkit-background-clip: text;
                width: 25px;
                &-2 {
                    width: 56px;
                    top: 98px;
                }
                @media all and (max-width: 1024px) {
                    width: 70px;
                }
                &:hover {
                    opacity: 1;
                    transition: opacity 0.5s;
                    font-size: 1.6rem;
                }
                &-2 {
                    @media all and (max-width: 1024px) {
                    width: 80px;
                    }
                }
            }
            &-heartfill {
                cursor: pointer;
                position: relative;
                top: -2px;
                background-color: white;
                transition: 1s;
                &:focus,
                &:hover {
                opacity: 0;
                transition: opacity 0.5s;
                }
                @media all and (max-width: 1024px) {
                    width: 70px;
                    height: 65px;
                    &-1 {
                        width: 80px;
                    }
                }
                &-1 {
                    background-color: $color-quadra;     
                }
            }
        input#heart,
        input#heart-2,
        input#heart-3,
        input#heart-4 {
            display: none;
            &:checked > .restaurants_squares--animation-heart {
                opacity: 1;
            }
            &:checked ~ .restaurants_squares--animation-heartfill {
                opacity: 0;
            }
        }
        }
    }
}