 .menu {
    &_header {
        display: flex;
        justify-content: center;
        h1 {
            font-family: 'Shrikhand', cursive;
        }
        &--heart {
            margin-left: 6.5rem;
            font-size: 2rem;
            margin-top: 1.5rem;
        }
    }
    &_card {
        display: grid;
        grid-template-columns: repeat(auto-fill, 520px);;
    }
 }