@import "colors.scss";

@mixin squares_text-top {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 1.2rem;
}

@mixin squares_text-bot {
    margin-left: 1rem;
    margin-top: -1rem;
    font-size: 1.2rem;
}

.restaurants {
    background-color: $color-quadra;
    height: auto;
    padding-top: 2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    h2 {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 3rem;
        @media all and (max-width: 1024px) {
            font-size: 3rem;
            text-align: left;
            margin-left: 3rem;
        }
    }
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 11.5rem;
        margin-left: 5rem;
        @media all and (max-width: 1024px) {
            grid-template-columns: repeat(1, 875px);
            grid-gap: 2.5rem;
            margin-left: 0px;
            justify-content: center;
        }
    }
    &_squares {
        width: 300px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 5px grey;
        height: 200px;
        @media all and (max-width: 1024px) {
            width: 875px;
            height: 610px;
        }
        &--images {
            width: 300px;
            height: 135px;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            @media all and (max-width: 1024px) {
                width: 875px;
                height: 455px;
            }
        }
        &--flex {
            display: flex
        }
        &--names {
            @include squares_text-top;
            @media all and (max-width: 1024px) {
                margin-left: 2rem;
                margin-top: 1rem;
                font-size: 2.5rem;
            }
        }
        &--places {
            @include squares_text-bot;
            @media all and (max-width: 1024px) {
                margin-left: 2rem;
                margin-top: -0.5rem;
                font-size: 2.5rem;
            }
        }
        &--heart {
            margin-left: 15rem;
            font-size: 1.5rem;
            margin-top: -25px;
            @media all and (max-width: 1024px) {
                margin-left: 25rem;
                margin-top: 20px;
                font-size: 3.5rem;
            }
        }
    }
    
}