@import "colors.scss";

@mixin squares_text-top {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@mixin squares_text-bot {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.restaurants {
    background-color: $color-quadra;
    height: auto;
    padding-top: 2rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 4rem;
        @media all and (max-width: 1024px) {
            font-size: 1.7rem;
            text-align: left;
            margin-left: 2rem;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 375px);
        grid-gap: 6.5rem;
        justify-content: center;
        @media all and (max-width: 1024px) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            grid-gap: 1.5rem;
            margin-left: 0px;
            justify-content: center;
            padding: 0 20px;
        }
    }
    &_container {
        width: 375px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 15px 15px $shadow-color;
        height: 275px;
        transition: 1s;
        position: relative;
            &:hover {
                transition: 0.5s;
                transform: scale(1.03);
            }
        @media all and (max-width: 1024px) {
            width: 100%;
            height: 15rem;
            border-radius: 20px;
        }
        &-new {  
            padding: 7px 16px;
            font-weight: bold;
            border-radius: 5px;
            align-items: center;
            position: absolute;
            background: #99e2d0;
            top: 25px;
            display: flex;
            right: 20px;
            justify-content: center;
            border-radius: 5px;
            p {
                color: #008766;
                margin: 0px;
            }
        }
        &--images {
            width: 375px;
            height: 200px;
            border-radius: 30px 30px 0px 0px;
            object-fit: cover;
            @media all and (max-width: 1024px) {
                width: 100%;
                height: 10rem;
                border-radius: 20px 20px 0px 0px;
            }
        }
        &--textheart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &--text {
            margin-top: 20px;
            @media all and (min-width: 1024px) {
                margin-top: 0px;
            }
        }
        &--title {
            @include squares_text-top;
            @media all and (max-width: 1024px) {
                margin-left: 1rem;
                margin-top: -1rem;
                font-size: 1.2rem;
            }
        }
        &--subtitle {
            @include squares_text-bot;
            @media all and (max-width: 1024px) {
                margin-left: 1rem;
                margin-top: 0.5rem;
                font-size: 1rem;
            }
        }
        &--animation {
            font-size: 1.5rem;
            padding-right: 1.5rem;
            @media all and (max-width: 1024px) {
                padding-right: 2.5rem;
            }
        }
    }
}
    

