$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quadra:#F6F6F6;
$color-quinta:#EAEAEA;
$color-sexta:#353535;

body {
    font-family: 'Roboto', sans-serif;
}

@import "header.scss";
@import "localisation.scss";
@import "explore.scss";
@import "function.scss";
@import "restaurants.scss";
@import "footer.scss";
@import "menu-1.scss";



